{% extends "base.html" %}

{% block content %}
<div class="flex justify-center flex-col items-center">
    <div>
        <h6>Правила</h6>
    </div>
    <span><p>Игра «Жизнь» (англ. Conway's Game of Life) — клеточный автомат, придуманный английским математиком Джоном Конвеем в 1970.
    </p><p>Правило 1. Действие происходит на бесконечной плоскости, разделенной на клетки, которую можно иногда представить как зацикленную конечную.
    </p><p>Правило 2. Каждая клетка может находиться в двух состояниях: быть живой или быть мёртвой.
    </p><p>Правило 3. У каждой клетки 8 соседей.
    </p><p>Правило 4. Если клетка жива и у нее 2−3 живых соседа, то она остается живой, иначе умирает.
    </p><p>Правило 5. Если клетка мертва и у нее 3 живых соседа, то она становится живой, иначе остается мертвой.
    *
    </p><p>Правило 6. Игра прекращается, если на поле не останется ни одной живой клетки.
    </p><p>Правило 7. Игра прекращается, если при очередном шаге ни одна из клеток не меняет своего состояния.
    </p><p>Правило 8. Игра прекращается, если конфигурация на очередном шаге в точности повторит себя же на одном из более ранних шагов.</p>
    </span>

</div>
{% endblock %}